.main-text{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.back{
    background-color: lawngreen;
}
.h-text{
    text-align: center;
}

h1{
    background-color: red;
}

.h3-text{
    background-color: lawngreen;
    
}
h3{
    text-align: center;
}

.submit-btn{
    align-content: center;
}